.phpunit.result.cache
.*.swp
.*.drawio.bkp
/.phpdoc/
/test*.php
/*.log
/tags
/composer.lock
/vendor
/vendor-bin/**/vendor/
/vendor-bin/**/composer.lock
/testreports
/tests/Interop/AccountData*.php
/xml
/doc/api
.DS_Store
/.idea/
/tools/
