<phpunit colors="true" testdox="true" bootstrap="tests/autoload.php" verbose="true">
    <php>
        <!-- make sure all PHP errors are reported and raise PHPunit exceptions -->
        <ini name="error_reporting" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="interoperability">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true" pathCoverage="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>

        <report>
            <php outputFile="testreports/coverage.cov"/>
            <clover outputFile="testreports/clover.xml"/>
            <html outputDirectory="testreports/coverage" lowUpperBound="50" highLowerBound="90"/>
        </report>
    </coverage>

    <logging>
        <testdoxHtml outputFile="testreports/results.html"/>
    </logging>
</phpunit>

<!-- vim: set ts=4 sw=4 expandtab fenc=utf8 ff=unix tw=120: -->
