<phpunit colors="true" testdox="true" cacheDirectory="../../.phpunit.cache"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnPhpunitDeprecations="true"
    failOnDeprecation="true"
    failOnNotice="true"
    failOnWarning="true"
    failOnPhpunitWarning="false"
    >
    <php>
        <var name="TEST_TESTRUN" value="unit"/>
        <!-- make sure all PHP errors are reported -->
        <ini name="error_reporting" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>.</directory>
        </testsuite>
    </testsuites>

    <source ignoreIndirectDeprecations="true">
        <include>
            <directory suffix=".php">../../src</directory>
        </include>
    </source>

    <coverage pathCoverage="true">
        <report>
            <php outputFile="../../testreports/unit/coverage.cov"/>
            <clover outputFile="../../testreports/unit/clover.xml"/>
        </report>
    </coverage>

    <logging>
        <testdoxHtml outputFile="../../testreports/unit/results.html"/>
    </logging>
</phpunit>

<!-- vim: set ts=4 sw=4 expandtab fenc=utf8 ff=unix tw=120: -->
