<?php

declare(strict_types=1);

namespace MStilkerich\Tests\CardDavClient\Interop;

use MStilkerich\CardDavClient\{Account,AddressbookCollection,Config};

/**
 * @psalm-import-type TestAccount from TestInfrastructureSrv
 * @psalm-import-type TestAddressbook from TestInfrastructureSrv
 */
final class AccountData
{
    /** @var array<string, TestAccount> */
    public const ACCOUNTS = [
        /*
        "iCloud" => [
            "username" => "icloudid@example.com",
            "password" => "foobar",
            "discoveryUri" => "icloud.com",

            // For providers that report extra changes or deleted cards between two syncs, set this to true to limit the
            // sync tests to check whether all known changes are actually reported, without raising an error on any
            // additional changes that the server reports. (Google has been observed to behave like this)
            "syncAllowExtraChanges" => false,

            // known/expected features
            "featureSet" => TestInfrastructureSrv::SRVFEATS_ICLOUD,
        ],
        "Google" => [
            "username" => "gmailid@example.com",
            "password" => "foobar",
            "discoveryUri" => "gmail.com",
            "syncAllowExtraChanges" => true,
            "featureSet" => TestInfrastructureSrv::SRVFEATS_GOOGLE,
        ],
         */
        "Nextcloud" => [
            "username" => "ncadm",
            "password" => "ncadmPassw0rd",
            "discoveryUri" => "http://localhost:8080/remote.php/dav/",
            "syncAllowExtraChanges" => false,
            "featureSet" => TestInfrastructureSrv::SRVFEATS_SABRE,
        ],
        /*
        "Baikal" => [
            "username" => "baikalUser",
            "password" => "foobar",
            "discoveryUri" => "http://baikal.localhost",
            "syncAllowExtraChanges" => false,
            "featureSet" => TestInfrastructureSrv::SRVFEATS_SABRE,
        ],
        "BaikalKrb" => [
            "username" => "",
            "password" => "",
            "discoveryUri" => "http://baikal.example.com",
            "syncAllowExtraChanges" => false,
            "featureSet" => TestInfrastructureSrv::SRVFEATS_SABRE,
        ],
        "Owncloud" => [
            "username" => "owncloudUser",
            "password" => "foobar",
            "discoveryUri" => "http://localhost/owncloud/remote.php/dav/addressbooks/users/owncloudUser/contacts/",
            "syncAllowExtraChanges" => false,
            "featureSet" => TestInfrastructureSrv::SRVFEATS_SABRE,
        ],
        "Radicale" => [
            "username" => "radicaleUser",
            "password" => "foobar",
            "discoveryUri" => "http://localhost:5232/",
            "syncAllowExtraChanges" => false,
            "featureSet" => TestInfrastructureSrv::SRVFEATS_RADICALE,
        ],
        "Davical" => [
            "username" => "davicalUser",
            "password" => "foobar",
            "discoveryUri" => "http://localhost/davical",
            "syncAllowExtraChanges" => false,
            "featureSet" => TestInfrastructureSrv::SRVFEATS_DAVICAL,
        ],
        "Synology" => [
            "username" => "xxx",
            "password" => "yyy",
            "discoveryUri" => "http://synology:5000/carddav/admin/",
            "syncAllowExtraChanges" => false,
            "featureSet" => TestInfrastructureSrv::SRVFEATS_SYNOLOGY_CONTACTS,
        ],
         */
    ];

    /** @var array<string, TestAddressbook> */
    public const ADDRESSBOOKS = [
        /*
        "iCloud" => [
            "account" => "iCloud",
            "url" => "https://pXX-contacts.icloud.com:443/1234567/carddavhome/card/",
            "displayname" => "card",
        ],
        "Google" => [
            "account" => "Google",
            "url" => "https://www.googleapis.com:443/carddav/v1/principals/gmailid@example.com/lists/default/",
            "displayname" => "Address Book",
        ],
         */
        "Nextcloud" => [
            "account" => "Nextcloud",
            "url" => "http://localhost:8080/remote.php/dav/addressbooks/users/ncadm/contacts/",
            "displayname" => "Contacts",
            "readonly" => false,
        ],
        /*
        "Owncloud" => [
            "account" => "Owncloud",
            "url" => "http://localhost:80/owncloud/remote.php/dav/addressbooks/users/owncloudUser/contacts/",
            "displayname" => "Contacts",
        ],
        "Baikal_First" => [
            "account" => "Baikal",
            "url" => "http://baikal.localhost/dav.php/addressbooks/baikalUser/default/",
            "displayname" => "Default Address Book",
        ],
        "Baikal_Second" => [
            "account" => "Baikal",
            "url" => "http://baikal.localhost/dav.php/addressbooks/baikalUser/abook2/",
            "displayname" => "Addressbook 2",
            "readonly" => true
        ],
        "BaikalKrb_First" => [
            "account" => "BaikalKrb",
            "url" => "http://baikal.example.com/dav.php/addressbooks/baikalUser/default/",
            "displayname" => "Default Address Book",
        ],
        "Radicale" => [
            "account" => "Radicale",
            "url" => "http://localhost:5232/radicaleUser/abcdef/",
            "displayname" => "The radical addressbook",
        ],
        "Davical_0" => [
            "account" => "Davical",
            "url" => "http://localhost/davical/caldav.php/davicalUser/addresses/",
            "displayname" => "Test addressbook",
        ],
         */
    ];
}

// vim: ts=4:sw=4:expandtab:fenc=utf8:ff=unix:tw=120:ft=php
